
body {
    margin-left: 35px;
    font-family: arial, sans-serif;
}

img {
    width: 272px;
}

#adv-img {
    width: 74px;
}

#bar, #adv-bar {
    width: 560px;
    padding: 10px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button:hover {
    cursor: pointer;
}

input {
    margin: 5px;
    height: 30px;
    width: 120px;
}

.navigation, .adv-navigation {
    padding: 6px;
    height: 48px;
}

.navigation {
    align-items: flex-end;  
}


.adv-navigation {
    flex-direction: row; 
}

.margin div:last-child {
    margin-left: auto;
  }

.nav-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image {
    height: 290px;
    justify-content: end;
}

.content {
    padding: 20px;
    height: 120px;
}

.adv-content {
    align-items: flex-start;
}

.search-bars {
    flex-direction: row;
    width: 1000px;
    gap: 50px;

}

.p {
    width: 200px;
    align-items: flex-start;
}

.adv-buttons {
    width: 827px;
    align-items: flex-end;
}

#bar {
    border-radius: 10em;
    height: 20px;
}

#adv-bar {
    height: 10px;
}

#adv-button {
    border: #3079ed;
    background-color: #4d90fe;
    color: white;
}

#adv-button:hover { 
    cursor: pointer;
}

p { 
    font-size: 16px;
}

.p > p {
    font-size: 13px;
}

.body-title > p {
    color: #d93025;
    font-size: 20px;
}

.body-title {
    align-items: flex-start;
    margin-bottom: 25px;
    margin-top: 25px;
}
